<main style="cursor: zoom-in;">
  <section class="perk-grid {{#if editMode}}edit-mode{{/if}}" style="transform: scale({{zoom}});">
    {{#each grid as |perk|}}
      {{#if perk.name}}
        <div class="perk"
          data-x="{{perk.x}}"
          data-y="{{perk.y}}"
          data-tooltip="{{perk.name}}"
          style="grid-area: {{perk.x}} / {{perk.y}} / span 1 / span 1;"
        >
          <img src="{{perk.img}}" alt="{{perk.name}}" title="{{perk.name}}" loading="lazy"/>
        </div>
      {{/if}}
    {{/each}}
  </section>
</main>