<main>
  <div class="scroll">
    <section class="perk-grid {{#if editMode}}edit-mode{{/if}} {{#unless global}}species-web{{/unless}}" style="{{#unless noZoom}}zoom: {{zoom}};{{else}}transform: scale({{zoom}});{{/unless}}">
      {{#each grid as |perk|}}
        {{#if perk.name}}
          <div class="perk{{#each perk.classes}} {{this}}{{/each}} item"
            data-x="{{perk.x}}"
            data-y="{{perk.y}}"
            data-state="{{perk.state}}"
            data-tooltip="{{perk.name}}"
            data-uuid="{{perk.uuid}}"
            style="grid-area: {{perk.y}} / {{perk.x}} / span 1 / span 1;"
          >
            <img src="{{perk.img}}" loading="lazy"/>
          </div>
        {{/if}}
      {{/each}}
    </section>
  </div>
</main>