<main>
  <section class="perk-grid {{#if editMode}}edit-mode{{/if}}">
    {{#each grid as |perk|}}
      {{#if perk.name}}
        <div class="perk"
          data-i="{{perk.i}}"
          data-j="{{perk.j}}"
          data-tooltip="{{perk.name}}"
          style="grid-area: {{perk.i}} / {{perk.j}} / span 1 / span 1;"
        >
          <img src="{{perk.img}}" alt="{{perk.name}}" title="{{perk.name}}" loading="lazy"/>
        </div>
      {{else}}
        {{!-- <div class="perk empty" data-i="{{perk.i}}" data-j="{{perk.j}}"
          style="grid-area: {{perk.i}} / {{perk.j}} / span 1 / span 1;"
        ></div> --}}
      {{/if}}
    {{/each}}
  </section>
</main>