<section class="tab sheet-body {{tabs.attacks.cssClass}}" data-tab="attacks" data-group="sheet" {{#if actor}}data-parent="{{actor.uuid}}"{{/if}}>
    {{#each attacks as |attack|}}
        <div class="attack-item attack" data-tooltip-direction="LEFT" data-action="{{attack.slug}}" data-tooltip="{{attack.name}}">
            <div class="icon rollable">
                <img src="{{attack.img}}" alt="{{attack.name}}">
                <img class="dice" src="/icons/svg/d20.svg" data-tooltip="Roll {{attack.name}}">
            </div>
            <div class="name">
                {{attack.name}}
            </div>
        </div>
    {{else}}
        <div class="attack-item">
            <div class="name">
                <small>No Attacks Found</small>
            </div>
        </div>
    {{/each}}
</section>