<section class="tab sheet-body {{tabs.attack-slots.cssClass}} action-tab" data-tab="attack-slots" data-group="sheet" {{#if actor}}data-parent="{{actor.uuid}}"{{/if}}>
    {{#each actions.slots as |attack|}}
        <div class="attack-item attack" data-tooltip-direction="LEFT" data-action="{{attack.slug}}" data-tooltip="{{attack.name}}">
            {{#if attack.name}}
                <div class="icon rollable">
                    <img src="{{attack.img}}" alt="{{attack.name}}">
                    <img class="dice" src="/icons/svg/d20.svg" data-tooltip="Roll {{attack.name}}">
                </div>
            {{/if}}
            <div class="name">
                {{#if attack.name}}
                    {{attack.name}}
                {{else}}
                    <small>Available Attack Slot</small>
                {{/if}}
            </div>
        </div>
    {{else}}
        <div class="attack-item">
            <div class="name small">
                <small>No Attacks Found</small>
            </div>
        </div>
    {{/each}}
</section>