<section class="token-info">
    <div class="icon actor" data-tooltip="{{actor.name}}" data-tooltip-direction="UP" data-uuid="{{actor.uuid}}">
        <img draggable="true" src="{{actor.img}}" alt="{{actor.name}}">
    </div>
    <div class="name">
        {{actor.name}}
    </div>
</section>