<content class="main">
  <section class="type">
    <label>{{localize 'PTR2E.DataInspector.Type'}}:</label>
    <span class='value' data-tooltip='{{typeLabel}}' data-tooltip-direction='UP'>{{type}}</span>

    <label>{{localize 'PTR2E.DataInspector.Document'}}:</label>
    <span class='value'>{{docType}}</span>

    {{#if isSourceData}}
      <label>{{localize 'PTR2E.DataInspector.DataModel'}}:</label>
      <span class='value'>{{model}}</span>
    {{/if}}
  </section>
  <div class='headers'>
    <label class='key'>{{localize 'PTR2E.DataInspector.Key'}}</label>

    <label class='value'>{{localize 'PTR2E.DataInspector.Value'}}</label>

    <div class='data-pools'>
      {{#unless @root.isRollData}}<label class='pool rolldata' data-tooltip='Data present in roll data.'
        data-tooltip-direction='UP'>R</label>{{/unless}}
      {{#unless @root.isDerivedData}}<label class='pool derived' data-tooltip='Data present in derived data.'
        data-tooltip-direction='UP'>D</label>{{/unless}}
      {{#unless @root.isSourceData}}<label class='pool source' data-tooltip='Data present in source data.'
        data-tooltip-direction='UP'>S</label>{{/unless}}
      {{#if @root.isSourceData}}<label class='pool temporary'
        data-tooltip='Data present in temporary document of same type.' data-tooltip-direction='UP'>T</label>{{/if}}
    </div>
  </div>

  <div class='data {{dataType}}'>
    {{#if data.isEmpty}}
    <p class='warning'>{{localize 'PTR2E.DataInspector.NoData'}}</p>
    {{else}}
    {{~> object data}}
    {{/if}}
  </div>

  <footer>
    <div class='footnote'>
      <label>{{localize 'PTR2E.DataInspector.DataEntries'}}:</label>
      <span class='value'>{{count}}</span>
    </div>
    <div class='footnote'>
      <label>{{localize 'PTR2E.DataInspector.MaxDepth'}}:</label>
      <span class='value'>{{depth}}</span>
    </div>
  </footer>
</content>

{{#*inline "object"}}
  {{#if children}}
    <ul class='data-list'>
      {{#each children as |data|}}
        {{~> object-data data}}
      {{/each}}
      {{#if @root.functions}}
      <!-- TODO -->
      {{/if}}
    </ul>
  {{/if}}
{{/inline}}

{{#*inline "object-data"}}
  <li data-key='{{key}}' data-path='{{path}}' data-depth='{{depth}}' data-children='{{children.length}}' style='--depth:{{depth}};' class='data-element {{data.type}}{{#if isDocument}} document{{/if}}{{#if isArray}} array{{/if}}
	{{~#if isContainer}}
		{{~#if isEmpty}} expanded empty{{else}} collapsed{{/if}}
		{{~else if isNullish}} empty{{else}} value{{/if}}
	{{~#if inRollData}} in-rolldata{{/if}}
	{{~#if inDerivedData}} in-derived{{/if}}
	{{~#if inSourceData}} in-source{{/if}}
	{{~#if @root.isSourceData}}{{#unless inTemporaryData}} not-in-temporary{{/unless}}{{/if}}'>
  {{!-- VALUE --}}
  {{~> value}}
  {{!-- Sub items of arrays and objects --}}
  {{~#if isContainer}}
    {{~> object}}
  {{/if}}
  </li>
{{/inline}}

{{#*inline "value"}}
  <div class='details'>
    <h4 class='key'>{{#if inArray}}[{{@index}}]{{else}}{{key}}{{/if}}</h4>
    {{#if recursionPoint}}
      <label class='value recursion'>{{localize "PTR2E.DataInspector.Link"}}: <span class='path'>{{recursionPoint}}</span></label>
    {{else if isGetter}}
      <label class='value getter {{css}}'>{{localize 'PTR2E.DataInspector.DataValue.Getter'}}</label>
    {{else if isFunction}}
      <label class='value function {{css}}'>{{localize 'PTR2E.DataInspector.DataValue.Function'}}</label>
    {{else if (or isContainer isDocument isUndesirable)}}
      {{#if isEmpty}}
      {{!-- Basic empty container --}}
      <label class='value container empty {{type}} {{css}} type-{{className}}'>
      {{~#if (or isCustom isUndesirable)}}{ {{~className~}} }{{else if isNull}}null{{else if isUndefined}}undefined{{else if isArray}}[]{{else}}{}{{/if~}}
      </label>
      {{else}}
      {{!-- Container with contents --}}
      <label class='value container {{type}} {{css}} type-{{className}}{{#if isModel}} model-{{identifier}}{{/if}}'>
        {{#if isArray}}
        [0...<span class='child-count'>{{children.length}}</span>]
        {{else if isModel}}
        { {{~identifier~}} } [<span class='child-count'>{{children.length}}</span>]
        {{else}}
        {{~#if (eq className 'Object')}}{...<span class='child-count'>{{children.length}}</span>}{{else}}{ {{~className~}}{{#if isDocument}}:{{documentId}}{{/if~}} }{{#if children.length}} [<span class='child-count'>{{children.length}}</span>]{{/if}}{{/if}}
        {{/if}}
        {{#if hasValues}}
        <span class='value-details'>
          {{#with values}}
          {{#unless noValues}}
          [
          {{#if isValue}}
          <label>{{localize 'PTR2E.DataInspector.DataValue.Value'}}: {{#if haveValue}}<span class='value'>{{value}}</span>{{/if}}{{#if isValueOf}} / {{/if}}{{#if haveMax}}<span class='max'>{{max}}</span>{{/if}}</label>
          {{/if}}
          {{#if haveTotal}}
          <label>{{localize 'PTR2E.DataInspector.DataValue.Total'}}: <span class='total'>{{total}}</span></label>
          {{/if}}
          ]
          {{/unless}}
          {{/with}}
        </span>
        {{/if}}
      </label>
      {{/if}}
    {{else}}
      {{!-- Basic value --}}
      {{#if isBigString}}
      <div class='extended-value'>
        <label class='value-details'>({{localize 'PTR2E.DataInspector.DataValue.Length' length=value.length}})</label>
      {{/if}}
      <label class='value basic {{type}} {{#if isNullish}}empty{{else if isBigString}}big{{/if}} {{css}}'>{{formattedValue}}</label>
      {{#if isBigString}}
      </div>
      {{/if}}
    {{/if}}

    <div class='data-pools'>
      {{#unless @root.isRollData}}<span class='pool rolldata {{#if inRollData}}{{#if (gt inRollData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
      {{#unless @root.isDerivedData}}<span class='pool derived {{#if inDerivedData}}{{#if (gt inDerivedData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
      {{#unless @root.isSourceData}}<span class='pool source {{#if inSourceData}}{{#if (gt inSourceData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/unless}}
      {{#if @root.isSourceData}}<span class='pool temporary {{#if inTemporaryData}}{{#if (gt inTemporaryData 1)}}deformed'>?{{else}}present'>✓{{/if}}{{else}}absent'>✗{{/if}}</span>{{/if}}
    </div>
  </div>
{{/inline}}