<form>
    <h1>Simple Move Form</h1>
    <div class="form-group">
        <label>Name</label>
        <div class="form-fields">
            {{formInput document.schema.fields.name value=document.name localize=true}}
        </div>
    </div>
    <hr />
    <div class="item-controls d-flex justify-content-end align-items-center">
        <h2 class="flex-grow-1" style="border-bottom: unset; margin: unset;">Attacks</h2>
        <a class="item-control item-create" title="Add Attack" data-type="attack" data-action="create">
            <i class="fas fa-plus-circle" style="margin-right: 3px;"></i>
            <span class="readable">{{localize "ITEM.AddButton"}}</span>
        </a>
    </div>
    {{#each document.system.actions as |action key|}}
        {{#if (is action.type "attack")}}
            <div class="attack-action" data-target="{{action.slug}}" data-index="{{@index}}">
                <div class="item-controls d-flex justify-content-end">
                    <a class="item-control item-delete" title="Delete Attack" data-type="attack" data-action="delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {{formField action.schema.fields.name value=action.name localize=true}}
                {{!-- {{formField action.schema.fields.slug value=action.slug localize=true}} --}}
                {{formField action.schema.fields.typing value=action.typing localize=true}}
                {{formField action.schema.fields.category value=action.category localize=true}}
                {{formField action.schema.fields.power value=action.power localize=true}}
                {{formField action.schema.fields.accuracy value=action.accuracy localize=true}}
            </div>
        {{/if}}
    {{/each}}
</form>