<form class="{{cssClass}} container-fluid" autocomplete="off">
    <nav class="main-navigation">
        <div class="fb-25"></div>
        <nav class="tabs" data-group="primary">
            <a class="item tooltip summary" title="Summary" data-tab="summary"><!--i class="fas fa-bars-progress"></i>--></a>
            <a class="item tooltip actions" title="Actions" data-tab="actions"><!--i class="fas fa-burst"></i>--></a>
            <a class="item tooltip skills" title="Skills" data-tab="skills"><!--i class="fas fa-crown"></i>--></a>
            <a class="item tooltip gear" title="Gear" data-tab="gear"><!--i class="fas fa-backpack"></i>--></a>
        </nav>
        <div class="fb-25"></div>
    </nav>
    <nav class="sub-navigation">
        <div class="fb-25"></div>
        <div class="fb-50 center-text">Sub-Navbar</div>
        <div class="fb-25"></div>
    </nav>
    <aside>
        <header>
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </header>
        <div class="party">
            {{#each party}}
                <div class="party-member" data-id="{{id}}" style="--health-percent: {{calcHeight health.percent}}px;">
                    <img class="profile-img {{#if (lte health.percent 0)}}black{{else}}{{#if (lt health.percent 25)}}darkred{{else}}{{#if (lt health.percent 50)}}red{{else}}{{#if (lt health.percent 75)}}orange{{else}}{{#if (is health.percent 100)}}green{{else}}lime{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}" 
                        src="{{img}}" 
                        title="{{name}}" />
                </div>
            {{/each}}
        </div>
    </aside>
    <main class="sheet-body">
        <div class="tab main-grid" data-tab="summary">
            <div class="stats-chart-box default-location">
                {{> stats-chart}}
            </div>
            <div class="movement default-location">
                {{> actor-movement}}
            </div>
        </div>
        <div class="tab main-grid" data-tab="actions">
            <div class="actions default-location">
                {{> actor-actions}}
            </div>
        </div>
        <div class="tab main-grid" data-tab="skills">
            <div class="skills default-location">
                {{> actor-skills}}
            </div>
        </div>
        <div class="tab main-grid" data-tab="gear">
            <div class="gear default-location">
                {{> actor-gear}}
            </div>
        </div>
    </main>
</form>