<aside class="sidebar">
    <div class="inputs">
        <div class="hp-current">
            <label for="system.health.value">{{localize fields.health.fields.value.label}} {{localize "PTR2E.FIELDS.health.short"}}</label>
            {{formInput fields.health.fields.value value=actor.system.health.value localized=true}}
        </div>
        <div class="hp-max">
            <label for="system.health.max">{{localize fields.health.fields.max.label}} {{localize "PTR2E.FIELDS.health.short"}}</label>
            {{formInput fields.health.fields.max value=actor.system.health.max localized=true disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="shield-current">
            <label for="system.health.shield.value">{{localize fields.health.fields.shield.fields.value.label}} {{localize "PTR2E.FIELDS.health.shield.short"}}</label>
            {{formInput fields.health.fields.shield.fields.value value=actor.system.health.shield.value localized=true}}
        </div>
        <div class="shield-max">
            <label for="system.health.shield.max">{{localize fields.health.fields.shield.fields.max.label}} {{localize "PTR2E.FIELDS.health.shield.short"}}</label>
            {{formInput fields.health.fields.shield.fields.max value=actor.system.health.shield.max localized=true disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="pp-current">
            <label for="system.powerPoints.value">{{localize fields.powerPoints.fields.value.label}} {{localize "PTR2E.FIELDS.powerPoints.short"}}</label>
            {{formInput fields.powerPoints.fields.value value=actor.system.powerPoints.value localized=true}}
        </div>
        <div class="pp-max">
            <label for="system.powerPoints.max">{{localize fields.powerPoints.fields.max.label}} {{localize "PTR2E.FIELDS.powerPoints.short"}}</label>
            {{formInput fields.powerPoints.fields.max value=actor.system.powerPoints.max localized=true disabled=true}}
        </div>
    </div>
    <div class="experience">
        <div class="xp-current">
            <label for="system.advancement.experience.value">{{localize fields.advancement.fields.experience.fields.current.label}}</label>
            {{formInput fields.advancement.fields.experience.fields.current value=actor.system.advancement.experience.current localized=true}}
        </div>
        <div class="xp-diff">
            <label for="system.advancement.experience.diff">{{localize fields.advancement.fields.experience.fields.diff.label}}</label>
            {{formInput fields.advancement.fields.experience.fields.diff value=actor.system.advancement.experience.diff localized=true disabled=true}}
        </div>
        <div class="xp-next">
            <label for="system.advancement.experience.next">{{localize fields.advancement.fields.experience.fields.next.label}}</label>
            {{formInput fields.advancement.fields.experience.fields.next value=actor.system.advancement.experience.next localized=true disabled=true}}
        </div>
        <div class="level">
            <label for="system.advancement.level">{{localize fields.advancement.fields.level.label}}</label>
            {{formInput fields.advancement.fields.level value=actor.system.advancement.level localized=true disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="atk-stage stage">
            <label for="system.attributes.atk.stage">{{localize fields.attributes.fields.atk.fields.stage.label}}</label>
            {{formInput fields.attributes.fields.atk.fields.stage value=actor.system.attributes.atk.stage disabled=true}}
        </div>
        <div class="def-stage stage">
            <label for="system.attributes.def.stage">{{localize fields.attributes.fields.def.fields.stage.label}}</label>
            {{formInput fields.attributes.fields.def.fields.stage value=actor.system.attributes.def.stage disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="spa-stage stage">
            <label for="system.attributes.spa.stage">{{localize fields.attributes.fields.spa.fields.stage.label}}</label>
            {{formInput fields.attributes.fields.spa.fields.stage value=actor.system.attributes.spa.stage disabled=true}}
        </div>
        <div class="spd-stage stage">
            <label for="system.attributes.spd.stage">{{localize fields.attributes.fields.spd.fields.stage.label}}</label>
            {{formInput fields.attributes.fields.spd.fields.stage value=actor.system.attributes.spd.stage disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="spe-stage stage">
            <label for="system.attributes.spe.stage">{{localize fields.attributes.fields.spe.fields.stage.label}}</label>
            {{formInput fields.attributes.fields.spe.fields.stage value=actor.system.attributes.spe.stage disabled=true}}
        </div>
        <div class="crit-stage stage">
            <label for="system.battleStats.critRate.stage">{{localize fields.battleStats.fields.critRate.fields.stage.label}}</label>
            {{formInput fields.battleStats.fields.critRate.fields.stage value=actor.system.battleStats.critRate.stage disabled=true}}
        </div>
    </div>
    <div class="inputs">
        <div class="acc-stage stage">
            <label for="system.battleStats.accuracy.stage">{{localize fields.battleStats.fields.accuracy.fields.stage.label}}</label>
            {{formInput fields.battleStats.fields.accuracy.fields.stage value=actor.system.battleStats.accuracy.stage disabled=true}}
        </div>
        <div class="eva-stage stage">
            <label for="system.battleStats.evasion.stage">{{localize fields.battleStats.fields.evasion.fields.stage.label}}</label>
            {{formInput fields.battleStats.fields.evasion.fields.stage value=actor.system.battleStats.evasion.stage disabled=true}}
        </div>
    </div>
    <div class="nature-dropdown">
        <label for="system.nature">{{localize fields.nature.label}}</label>
        <select name="system.nature" id="system.nature" data-dtype="String">
            {{selectOptions natures selected=actor.system.nature localize=true}}
        </select>
    </div>
    <div class="perk-web-button">
        <button type="button" class="perk-web-button" data-action="open-perk-web">
            <i class="fas fa-sitemap"></i>
            <label>{{localize "PTR2E.ActorSheet.Buttons.perkWeb"}} {{#if shouldPerkFlash}}<small class="ml-1 unspend">({{actor.system.advancement.advancementPoints.available}} Unspend!)</small>{{/if}}</label>
        </button>
    </div>
</aside>