<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
  <div class="scroll">
    <fieldset>
      <legend>
        Basic Information
      </legend>
      {{#if (devMode)}}
        {{formField fields.slug value=source.system.slug localize=true}}
      {{/if}}

      <div class="form-group">
        <label>{{localize "PTR2E.FIELDS.prerequisites.label"}}</label>
        <div class="form-fields">
          <input type="text" name="system.prerequisites" value="{{json source.system.prerequisites spaces=0}}"/>
        </div>
        <p class="hint">{{localize "PTR2E.FIELDS.prerequisites.hint"}}</p>
      </div>

      <div class="form-group">
        <label>{{localize "PTR2E.FIELDS.autoUnlock.label"}}</label>
        <div class="form-fields">
          <input type="text" name="system.autoUnlock" value="{{json source.system.autoUnlock spaces=0}}"/>
        </div>
        <p class="hint">{{localize "PTR2E.FIELDS.autoUnlock.hint"}}</p>
      </div>
      
      {{formField fields.cost value=source.system.cost localize=true}}

      <div class="form-group">
        <label>{{localize "PTR2E.FIELDS.perk.variant.label"}}</label>
        <div class="form-fields">
          <select name="system.variant">
            <option value="">{{localize "PTR2E.FIELDS.perk.variant.basic"}}</option>
            <option value="multi" {{#if (eq source.system.variant "multi")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.variant.multi"}}</option>
            <option value="tiered" {{#if (eq source.system.variant "tiered")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.variant.tiered"}}</option>
          </select>
        </div>
        <p class="hint">{{localize "PTR2E.FIELDS.perk.variant.hint"}}</p>
      </div>

      {{#if source.system.variant}}
      <div class="form-group">
        <label>{{localize "PTR2E.FIELDS.perk.mode.label"}}</label>
        <div class="form-fields">
          <select name="system.mode">
            {{#if (eq source.system.variant "multi")}}
              <option value="shared" {{#if (eq source.system.mode "shared")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.mode.shared"}}</option>
              <option value="individual" {{#if (eq source.system.mode "individual")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.mode.individual"}}</option>
            {{else if (eq source.system.variant "tiered")}}
              <option value="replace" {{#if (eq source.system.mode "replace")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.mode.replace"}}</option>
              <option value="coexist" {{#if (eq source.system.mode "coexist")}}selected{{/if}}>{{localize "PTR2E.FIELDS.perk.mode.coexist"}}</option>
            {{/if}}
          </select>
        </div>
        <p class="hint">{{localize "PTR2E.FIELDS.perk.mode.hint"}}</p>
      </div>
      {{/if}}

      {{formField fields.global value=source.system.global localize=true}}

      <div class="form-group webs">
        <label>{{localize "PTR2E.FIELDS.perk.webs.label"}}</label>
        <div class="form-fields">
          <div class="tags input-element-tags">
            {{#each source.system.webs as |web|}}
              <div class="tag" data-key="{{web}}">
                {{{asContentLink web}}}
                <a data-action="delete-web" data-tooltip="Remove Tag" aria-label="Remove Tag" class="remove fa-solid fa-times"></a>
              </div>
            {{/each}}
          </div>
        </div>
        <p class="hint">{{localize "PTR2E.FIELDS.perk.webs.hint"}}</p>
      </div>

      {{formField fields.description enriched=enrichedDescription value=source.system.description toggled=true localize=true}}
    </fieldset>
    {{#each source.system.nodes as |node|}}
      <fieldset>
        <legend>
          Node #{{@index}} Configuration
        </legend>
        <div class="entry">
          {{formField ../fields.nodes.element.fields.x value=node.x localize=true disabled=false name=(concat "system.nodes." @index ".x")}}
          {{formField ../fields.nodes.element.fields.y value=node.y localize=true disabled=false name=(concat "system.nodes." @index ".y")}}
          {{formField ../fields.nodes.element.fields.hidden value=node.hidden localize=true name=(concat "system.nodes." @index ".hidden")}}
          {{formField ../fields.nodes.element.fields.type value=node.type localize=true name=(concat "system.nodes." @index ".type")}}
          {{formField ../fields.nodes.element.fields.connected value=node.connected localize=true name=(concat "system.nodes." @index ".connected")}}
          {{#if (eq ../source.system.variant "tiered")}}
            <fieldset>
              <legend>
                Tier
              </legend>
              {{formField ../fields.nodes.element.fields.tier.fields.rank value=node.tier.rank localize=true name=(concat "system.nodes." @index ".tier.rank")}}
              {{formField ../fields.nodes.element.fields.tier.fields.uuid value=node.tier.uuid localize=true name=(concat "system.nodes." @index ".tier.uuid")}}
            </fieldset>
          {{/if}}
          <fieldset>
            <legend>
              Display Configuration
            </legend>
            {{formField ../fields.nodes.element.fields.config.fields.alpha value=node.config.alpha localize=true name=(concat "system.nodes." @index ".config.alpha")}}
            {{formField ../fields.nodes.element.fields.config.fields.backgroundColor value=node.config.backgroundColor localize=true name=(concat "system.nodes." @index ".config.backgroundColor")}}
            {{formField ../fields.nodes.element.fields.config.fields.borderColor value=node.config.borderColor localize=true name=(concat "system.nodes." @index ".config.borderColor")}}
            {{formField ../fields.nodes.element.fields.config.fields.borderWidth value=node.config.borderWidth localize=true name=(concat "system.nodes." @index ".config.borderWidth")}}
            {{formField ../fields.nodes.element.fields.config.fields.texture value=node.config.texture localize=true name=(concat "system.nodes." @index ".config.texture")}}
            {{formField ../fields.nodes.element.fields.config.fields.tint value=node.config.tint localize=true name=(concat "system.nodes." @index ".config.tint")}}
            {{formField ../fields.nodes.element.fields.config.fields.scale value=node.config.scale localize=true name=(concat "system.nodes." @index ".config.scale")}}
          </fieldset>
        </div>
        <footer class="d-flex flex-row justify-content-center align-items-center">
          {{#if (and @last ../source.system.variant)}}
            <button type="button" class="fb-35" data-action="add-node">
              <i class="fas fa-plus"></i>
              Add Node
            </button>
          {{/if}}
          {{#unless (and @first @last)}}
            <button type="button" class="fb-35" data-action="delete-node" data-index="{{@index}}">
              <i class="fas fa-trash-alt"></i>
              Delete Node
            </button>
          {{/unless}}
        </footer>
      </fieldset>
    {{else}}
      <fieldset>
        <legend>
          Node Configuration
        </legend>
        <footer class="d-flex flex-row justify-content-center align-items-center">
          <button type="button" class="fb-35" data-action="add-node">
            <i class="fas fa-plus"></i>
            Add Node
          </button>
        </footer>
      </fieldset>
    {{/each}}
  </div>
</section>