<section class="tab sheet-body {{tabs.actions.cssClass}}" data-tab="attack" data-group="sheet">
    <form class="scroll" id="attack">
        {{#with attack}}
        <fieldset>
            <legend>Basic</legend>
            {{formField fields.name value=source.name localize=true}}
            <div class="form-group">
                <label>{{localize fields.description.label}}</label>
                <div class="form-fields">
                    <textarea name="attack.description" class="form-control"
                        data-dtype="String">{{source.description}}</textarea>
                </div>
                <p class="hint">{{localize fields.description.hint}}</p>
            </div>
            {{!-- {{formField fields.description value=source.description localize=true}} --}}
            {{formField fields.traits value=source.traits localize=true}}
        </fieldset>
        <fieldset>
            <legend>Range</legend>
            {{formField fields.range.fields.target value=source.range.target localize=true}}
            {{formField fields.range.fields.distance value=source.range.distance localize=true}}
            {{formField fields.range.fields.unit value=source.range.unit localize=true}}
        </fieldset>
        <fieldset>
            <legend>Cost</legend>
            {{formField fields.cost.fields.activation value=source.cost.activation localize=true}}
            {{formField fields.cost.fields.powerPoints value=source.cost.powerPoints localize=true}}
            {{formField fields.cost.fields.trigger value=source.cost.trigger localize=true}}
            {{formField fields.cost.fields.delay value=source.cost.delay localize=true}}
            {{formField fields.cost.fields.priority value=source.cost.priority localize=true}}
        </fieldset>
        <fieldset>
            <legend>Attack</legend>
            {{formField fields.types value=source.types localize=true}}
            {{formField fields.category value=source.category localize=true}}
            {{formField fields.power value=source.power localize=true}}
            {{formField fields.accuracy value=source.accuracy localize=true}}
        </fieldset>
        {{/with}}
    </form>
</section>