<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
    <fieldset>
        <legend>
            Details
        </legend>
        {{formField fields.grade value=source.system.grade}}
        {{!-- {{formField fields.tutorLists value=source.system.tutorLists}} --}}
        <div class="form-group">
            <label>Tutor Lists</label>
            <div class="form-fields">
                <multi-select name="tutorLists">
                    {{selectOptions allTutorLists selected=tutorLists localize=true}}
                </multi-select>
            </div>
        </div>
        {{!-- {{formField fields.description enriched=enrichedDescription value=source.system.description toggled=true localize=true}} --}}
    </fieldset>
</section>