<aside>
    <form id="base-stats-form">
        <h1>Base Stats</h1>
        {{#each stats as |value key|}}
            <div class="form-group {{key}}">
                <label for="{{concat "system.attributes." key ".base"}}">{{localize (concat "PTR2E.Attributes." key ".Label")}}</label>
                {{#if (lookup ../speciesBaseStats key)}}
                  {{rangePicker name=(concat "system.attributes." key ".base") value=value.base min=(lookup ../speciesBaseStats key) max=(lookup ../baseMaximums key) step=1}}
                {{else}}
                  {{rangePicker name=(concat "system.attributes." key ".base") value=value.base min=40 max=(lookup ../baseMaximums key) step=1}}
                {{/if}}
            </div>
        {{/each}}
        <div class="form-group">
            <label>Total (Max 110)</label>
            <span style="flex: 3"></span>
            <span style="flex: 0 1 48px; text-align: center;">{{baseMaximums.total}}</span>
        </div>
        {{!-- <input type="submit" value="Submit" /> --}}
    </form>
</aside>