<aside> {{log this}}
    <form id="base-stats-form">
        <h1>Base Stats</h1>
        <label class="hp" for="hp">HP</label>
        <input type="number" class="hp" name="system.attributes.hp.base" value="{{stats.hp.base}}"/>
        <label class="atk" for="atk">Attack</label>
        <input type="number" class="atk" name="system.attributes.atk.base" value="{{stats.atk.base}}"/>
        <label class="def" for="def">Defense</label>
        <input type="number" class="def" name="system.attributes.def.base" value="{{stats.def.base}}"/>
        <label class="spa" for="spa">Special Attack</label>
        <input type="number" class="spa" name="system.attributes.spa.base" value="{{stats.spa.base}}"/>
        <label class="spd" for="spd">Special Defense</label>
        <input type="number" class="spd" name="system.attributes.spd.base" value="{{stats.spd.base}}"/>
        <label class="spe" for="spe">Speed</label>
        <input type="number" class="spe" name="system.attributes.spe.base" value="{{stats.spe.base}}"/>
        {{!-- <input type="submit" value="Submit" /> --}}
    </form>
</aside>