<div class="form-group">
    <label class="short">{{localize "PTR2E.Effect.FIELDS.ChangeSelector.label"}}</label>
    <div class="form-fields">
        <input type="text" name="{{basePath}}.key" value="{{change.selector}}" />
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize "PTR2E.Effect.FIELDS.ChangeUuid.label"}}</label>
    <div class="form-fields">
        <input type="text" name="{{basePath}}.value" value="{{change.uuid}}" />
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize "PTR2E.Effect.FIELDS.ChangeChance.label"}}</label>
    <div class="form-fields">
        <input type="number" name="{{basePath}}.chance" value="{{change.chance}}" />
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize "PTR2E.Effect.FIELDS.ChangeAffects.label"}}</label>
    <div class="form-fields">
      <div>
        <input type="radio" name="{{basePath}}.affects" value="target" {{#if (is change.affects 'target')}}checked{{/if}} />
        <label>{{localize "PTR2E.Effect.FIELDS.ChangeAffects.target"}}</label>
      </div>
      <div>
        <input type="radio" name="{{basePath}}.affects" value="self" {{#if (is change.affects 'self')}}checked{{/if}} />
        <label>{{localize "PTR2E.Effect.FIELDS.ChangeAffects.self"}}</label>
      </div>
      <div>
        <input type="radio" name="{{basePath}}.affects" value="origin" {{#if (is change.affects 'origin')}}checked{{/if}} />
        <label>{{localize "PTR2E.Effect.FIELDS.ChangeAffects.origin"}}</label>
      </div>
      <div>
        <input type="radio" name="{{basePath}}.affects" value="defensive" {{#if (is change.affects 'defensive')}}checked{{/if}} />
        <label>{{localize "PTR2E.Effect.FIELDS.ChangeAffects.defensive"}}</label>
      </div>
    </div>
</div>

<div class="form-group">
    <label class="short">{{localize fields.predicate.label}}</label>
    <input type="text" name="{{basePath}}.predicate" value="{{json change.predicate spaces=0}}" />
</div>

<fieldset class="alterations">
  <legend>Alterations</legend>
  <content>
    {{#each change.alterations as |alteration|}}
    <div class="alteration">
      {{formField ../fields.mode value=alteration.mode localize=true name=(concat ../basePath ".alterations." @index ".mode")}}

      <div class="form-group">
          <label class="short">{{localize "PTR2E.Effect.FIELDS.ChangeKey.label"}}</label>
          <div class="form-fields">
              <input type="text" name="{{../basePath}}.alterations.{{@index}}.property" value="{{alteration.property}}"/>
          </div>
      </div>

      <div class="form-group">
          <label class="short">{{localize ../fields.value.label}}</label>
          <div class="form-fields">
              {{{../form.resolvableValue (concat "alterations." @index ".value") hideButton=true}}}

              {{{../form.resolvableAddBracket (concat "alterations." @index ".value")}}}
          </div>
      </div>

      {{{../form.resolvableBrackets (concat "alterations." @index ".value")}}}

      <div class="form-group" style="place-content: end;">
        <button type="button" class="item-control alteration-delete" title="Delete Alteration" data-action="delete-alteration" data-id="{{../basePath}}" data-index="{{@index}}">
            <i class="fas fa-trash"></i> Remove Alteration
        </button>
      </div>
    </div>
  {{/each}}
  </content>
  <div class="header">
    <button class="item-control alteration-create" title="Add Alteration" data-action="add-alteration" data-id="{{basePath}}">
        <i class="fas fa-plus-circle" style="margin-right: 3px;"></i>
        <span class="readable">Add Alteration</span>
    </button>
  </div>
</fieldset>