<div class="abilities-display">
    <fieldset class="can-popout" data-component="abilities">
        <legend>
            Abilities
        </legend>
        <ul class="ability-list scroll">
            {{#each abilities as |ability|}}
                <li class="item ability" data-tooltip-direction="{{../direction}}" data-id="{{ability.id}}" data-uuid="{{ability.uuid}}" data-tooltip="{{ability.name}}">
                    <div class="item-icon"><img src="{{ability.img}}" class="icon"></div>
                    <span class="name">{{ability.name}}</span>
                    <div class="item-controls">
                        <a class="item-control item-to-chat" data-tooltip="Send Ability to chat"><i class="fas fa-external-link-alt"></i></a>
                        <a class="item-control item-edit" data-tooltip="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </fieldset>
</div>