<div class="perks-display">
    <fieldset class="can-popout" data-component="perks">
        <legend>
            Perks
        </legend>
        <ul class="perk-list scroll">
            {{#each perks as |perk|}}
                <li class="item perk" data-tooltip-direction="LEFT" data-id="{{perk.id}}" data-uuid="{{perk.uuid}}" data-tooltip="{{perk.name}}">
                    <div class="item-icon"><img src="{{perk.img}}" class="icon"></div>
                    <span class="name">{{perk.name}}</span>
                    <div class="item-controls">
                        <a class="item-control item-to-chat" data-tooltip="Send Perk to chat"><i class="fas fa-external-link-alt"></i></a>
                        <a class="item-control item-edit" data-tooltip="Edit Perk"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" data-tooltip="Delete Perk"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </fieldset>
</div>