<section class="tab sheet-body {{tabs.overview.cssClass}}" data-tab="overview" data-group="sheet">
    <aside class="traits"> 
      <input type="text" class="traits ptr2e-tagify" name="system.traits" value="{{json traits}}" data-dType="JSON"/>
    </aside>
    <div class="scroll">
        {{formField fields.tint value=data.tint localize=true}}
        
        {{#if hasDescription}}
            {{formField fields.description enriched=descriptionHTML value=source.description localize=true toggled=true}}
        {{/if}}

        {{formField fields.disabled value=data.disabled localize=true}}
        
        {{#if isActorEffect}}
            {{formField fields.origin value=data.origin disabled=true localize=true}}
        {{/if}}
        
        {{#if isItemEffect}}
            {{formField fields.transfer value=data.transfer localize=true}}
        {{/if}}

        <div class="form-group">
            <label>Status Conditions</label>
            <div class="form-fields">
                <multi-select name="statuses">
                    {{#each statuses as |status|}}
                    <option value="{{status.id}}" {{status.selected}}>{{status.label}}</option>
                    {{/each}}
                </multi-select>
            </div>
        </div>
    </div>
</section>