<section class="standard-form">
    <input type="hidden" name="type" value="{{folder.type}}"/>
    <input type="hidden" name="folder" value="{{folder.folder}}"/>

    <div class="form-group">
        <label>{{localize "FOLDER.Name"}}</label>
        <div class="form-fields">
            <input type="text" name="name" placeholder="{{newName}}" value="{{name}}" autofocus>
        </div>
    </div>

    {{formField fields.color value=folder.color localize=true}}

    {{!-- <div class="form-group">
        <label>{{localize "FOLDER.Color"}}</label>
        <div class="form-fields" {{#if folder.color}}style="--color-input-border-color: {{folder.color}}"{{/if}}>
            {{colorPicker name="color" value=folder.color}}
        </div>
    </div> --}}

    <div class="form-group">
        <label>{{localize "FOLDER.SortMode"}}</label>
        <div class="form-fields">
            {{radioBoxes "sorting" sortingModes checked=folder.sorting localize=true}}
        </div>
    </div>
</section>
