<section class="tab sheet-body {{tabs.party.cssClass}}" data-tab="party" data-group="sheet">
  <div class="scroll" {{#if folder.color}}style="--folder-color: {{folder.color.css}};"{{/if}}>
    <article class="party" data-folder-id="party">
      <header class="party-header" style="padding: 9px;">
        <h3 class="party-title noborder" style="padding-left: 3px;">{{localize PTR2E.PartySheet.PartyLabel}}</h3>
      </header>
      <div class="contents">
        {{#each party}}
          <section class="party-member party-drag-item" data-actor-id="{{this.id}}">
              <div class="thumbnail">
                  <img src="{{this.img}}" alt="{{this.name}}">
              </div>
              <main>
                  <div class="title">
                      <span class="name">{{this.name}}</span>
                      <span class="level">{{localize PTR2E.FIELDS.level.label}} {{this.system.advancement.level}}</span>
                  </div>
                  <div class="types">
                      {{#each this.system.type.types as |type|}}
                          <span>{{{getIcon type direction="DOWN"}}}</span>
                      {{/each}}
                  </div>
              </main>
          </section>
        {{/each}}
      </div>
    </article>
    <main class="boxes" data-folder-id="{{folder.id}}">
      <header class="controls">
        <h3 class="noborder">{{localize PTR2E.PartySheet.Boxes}}</h3>
        <button class="create-folder" title="Create Folder" data-action="create-folder" {{#if disableButton}}disabled{{/if}}>
          <i class="fas fa-folder-plus"></i> {{localize PTR2E.PartySheet.CreateFolder}}
        </button>
      </header>
      <div class="content">
        {{#each boxData.folders as |folder|}}
          <article class="box party-drag-item" {{#unless (is folder.safeColor "#000000")}}style="--folder-color: {{folder.safeColor}}"{{/unless}} data-color="{{folder.safeColor}}" data-folder-id="{{folder.id}}">
            <header class="box-header party-drag-item" data-folder-id="{{folder.id}}">
              <h3 class="box-title noborder">{{folder.name}}</h3>
            </header>
            <div class="contents">
              {{#each (sortFolder folder) as |actor|}}
                {{#if actor.isOwner}}
                  <section class="box-item party-drag-item" data-actor-id="{{actor.id}}">
                    <div class="thumbnail">
                      <img src="{{actor.img}}" alt="{{actor.name}}">
                    </div>
                    <main>
                      <div class="title">
                        <span class="name">{{actor.name}}</span>
                        <span class="level">Level {{actor.system.advancement.level}}</span>
                      </div>
                      <div class="types">
                        {{#each actor.system.type.types as |type|}}
                          <span>{{{getIcon type direction="DOWN"}}}</span>
                        {{/each}}
                      </div>
                    </main>
                  </section>
                {{/if}}
              {{else}}
                <section class="box-item empty">
                  <p>{{localize PTR2E.PartySheet.EmptyBox}}</p>
                </section>
              {{/each}}
            </div>
          </article>
        {{/each}}
        {{#if nonParty}}
          <article class="box" {{#unless (is folder.safeColor "#000000")}}style="--folder-color: {{folder.safeColor}}"{{/unless}} data-color="{{folder.safeColor}}">
            <header class="box-header">
              <h3 class="box-title noborder">{{localize PTR2E.PartySheet.RootFolder}}</h3>
            </header>
            <div class="contents">
              {{#each nonParty as |actor|}}
                {{#if actor.isOwner}}
                  <section class="box-item party-drag-item" data-actor-id="{{actor.id}}">
                    <div class="thumbnail">
                      <img src="{{actor.img}}" alt="{{actor.name}}">
                    </div>
                    <main>
                      <div class="title">
                        <span class="name">{{actor.name}}</span>
                        <span class="level">{{localize PTR2E.FIELDS.level.label}} {{actor.system.advancement.level}}</span>
                      </div>
                      <div class="types">
                        {{#each actor.system.type.types as |type|}}
                          <span>{{{getIcon type direction="DOWN"}}}</span>
                        {{/each}}
                      </div>
                    </main>
                  </section>
                {{/if}}
              {{else}}
                <section class="box-item empty">
                  <p>{{localize PTR2E.PartySheet.EmptyBox}}</p>
                </section>
              {{/each}}
            </div>
          </article>
        {{/if}}
      </div>
    </main>
  </div>
</section>