<section class="skill-roll {{#if (gt degreeOfSuccess 0)}}success{{else}}failure{{/if}}">
    <header class="breakdown">
        {{{breakdown}}}
    </header>
    {{{inner}}}
    <footer>
        {{#if (gt degreeOfSuccess 0)}}
            <p class="dos success">{{abs degreeOfSuccess}} Degrees of Success</p>
        {{else}}
            <p class="dos failure">{{abs degreeOfSuccess}} Degrees of Failure</p>
        {{/if}}
    </footer>
    {{#if notes}}
        <section class="notes">
            {{{notes}}}
        </section>
    {{/if}}
    {{#if luckRoll}}
        <section class="luck mt-1">
            {{{innerLuck}}}
            {{#if (gt degreeOfSuccess 0)}}
                <footer>
                    <p class="luck-roll success">Score! Luck increases by {{luckRoll}}. <button type="button" data-action="increase-luck" {{#if appliedLuck}}disabled{{/if}}>Apply</button></p>
                </footer>
            {{/if}}
        </section>
    {{/if}}
</section>