<header>
    <div class="icon">
        <img src="{{origin.img}}" alt="{{origin.name}}">
    </div>
    <h3>{{origin.name}}'s {{attack.name}}</h3>
    <div class="icon"></div>
</header>
<main>
    <div class="collapse-button">
        <button type="button" class="collapse-rolls expanded">Hide Info</button>
    </div>
    <article class="collapsed justify-content-center" style="border-bottom: 1px solid var(--color-underline-header);">
        {{> effect-traits traits=attack.traits attack=attack}}
    </article>
    {{#each results as |data uuid|}}
        <div class="collapse-button">
            <button type="button" class="collapse-rolls" data-uuid="{{uuid}}">Show Rolls for {{data.target.name}}</button>
        </div>
        <article class="collapsed">
            {{#if data.rolls.accuracy}}{{{data.rolls.accuracy}}}{{/if}}
            {{#if data.rolls.crit}}{{{data.rolls.crit}}}{{/if}}
            {{#if data.rolls.damage}}{{{data.rolls.damage}}}{{/if}}
            {{#each data.rolls.effects}}
                {{{this}}}
            {{/each}}
        </article>
    {{/each}}
</main>
<footer>
    <div class="target target-header">
        <div class="icon">Icon</div>
        <div class="status">Status</div>
        <div class="damage">Damage</div>
        <div class="apply"><button type="button" class="update-targets" data-tooltip="[Left Click] to add current selected/targeted actors<br>[Left Alt + Left Click] to overwrite targets with currently selected/targeted actors"><i class="fas fa-crosshairs"></i></button></div>
    </div> 
    {{#each results as |data uuid|}}
        <div class="target" data-target-uuid="{{data.target.uuid}}">
            <div class="icon">
                <img src="{{data.target.img}}" alt="{{data.target.name}}">
            </div>
            {{#with data.hit}}
            <div class="status" data-tooltip="{{this}}" data-tooltip-direction="UP">
                <i class="fas fa-{{#if (is this "hit")}}certificate{{else if (is this "critical")}}crosshairs{{else}}times-circle{{/if}}"></i>
            </div>
            {{/with}}
            <div class="damage" data-tooltip="{{data.damage}}" data-tooltip-direction="LEFT">
                <span>{{data.damage}}</span>
            </div>
            <div class="apply">
                <button type="button" class="apply-damage"><i class="fas fa-bolt"></i>{{localize "PTR2E.Damage.Apply"}}</button>
            </div>
        </div>
    {{/each}}
</footer>