<section class="action">
    <form class="scroll">
        <fieldset>
            <legend>Range</legend>
            {{formField fields.range.fields.target value=source.range.target localize=true}}
            {{formField fields.range.fields.distance value=source.range.distance localize=true}}
            {{!-- {{formField fields.range.fields.unit value=source.range.unit localize=true}} --}}
        </fieldset>
        <fieldset>
            <legend>Cost</legend>
            {{formField fields.cost.fields.activation value=source.cost.activation localize=true}}
            {{formField fields.cost.fields.powerPoints value=source.cost.powerPoints localize=true}}
            {{formField fields.cost.fields.trigger value=source.cost.trigger localize=true}}
            {{formField fields.cost.fields.delay value=source.cost.delay localize=true}}
            {{formField fields.cost.fields.priority value=source.cost.priority localize=true}}
        </fieldset>
        {{#if (eq action.type "attack")}}
            <fieldset>
                <legend>Attack</legend>
                {{formField fields.types value=source.types localize=true}}
                {{formField fields.category value=source.category localize=true}}
                {{formField fields.power value=source.power localize=true}}
                {{formField fields.accuracy value=source.accuracy localize=true}}
            </fieldset>
        {{/if}}
    </form>
</section>