<main>
  <div class="scroll">
    {{#each lists as |list|}}
    <section class="tutor-list{{#if list.hidden}} hidden{{/if}}" data-tab="{{list.id}}">
      <h3>{{list.title}}</h3>
      <ul>
        {{#each list.moves as |move|}}
        <li>
          <a class="content-link" data-uuid="{{move.uuid}}" data-link="{{move.uuid}}" data-tooltip="{{move.title}}"
            data-type="Item" data-tooltip-direction="RIGHT">
            <i class="fas fa-suitcase"></i> {{move.title}}
          </a>
        </li>
        {{else}}
        <li>
          <p>No moves found.</p>
        </li>
        {{/each}}
      </ul>
    </section>
    {{/each}}
  </div>
</main>