<article class="tutor-lists">
    <fieldset>

    </fieldset>
    <fieldset class="tutorable-moves">
        <legend>Tutorable Moves</legend>
        {{#each moves as |move|}}
            {{> moves move=move direction="RIGHT"}}
        {{/each}}
    </fieldset>
</article>

{{#*inline "moves"}}
    <div class="{{move.type}} move item" data-tooltip-direction="{{direction}}" data-slug="{{move.system.slug}}" data-uuid="{{move.uuid}}" data-tooltip="{{move.name}}">
        <div class="move-icon">
            <img class="icon" src="{{move.img}}"/>
        </div>
        <span class="move-name">{{move.name}}</span>
    </div>
{{/inline}}