<section class="tab sheet-body {{tabs.details.cssClass}}" data-tab="details" data-group="sheet">
    <div class="scroll">
        <fieldset>
            <legend>
                Base Info
            </legend>
            <!-- Number -->
            {{formField fields.number value=source.system.number localize=true}}
            <!-- Types -->
            {{formField fields.types value=source.system.types localize=true}}
            <!-- Capture Rate -->
            {{formField fields.captureRate value=source.system.captureRate localize=true}}
            <!-- Stats -->
            <div class="base-stats-header">
                <h5>Base Stats</h5>
            </div>
            <div class="base-stats">
                {{formField fields.stats.fields.hp value=source.system.stats.hp localize=true}}
                {{formField fields.stats.fields.def value=source.system.stats.def localize=true}}
                {{formField fields.stats.fields.atk value=source.system.stats.atk localize=true}}
                {{formField fields.stats.fields.spa value=source.system.stats.spa localize=true}}
                {{formField fields.stats.fields.spd value=source.system.stats.spd localize=true}}
                {{formField fields.stats.fields.spe value=source.system.stats.spe localize=true}}
            </div>
            <!-- Movement -->
            <div class="movement-header">
                <h5>Primary Movement</h5>
                <div class="item-controls">
                    <a class="item-control item-create" data-tooltip="Add Primary Movement Option" data-field="movement" data-sub-field="primary" data-action="add">
                        <i class="fas fa-plus-circle" style="margin-right: 3px;"></i>
                        <span class="readable">{{localize "ITEM.AddButton"}}</span>
                    </a>
                </div>
            </div>
            {{#if source.system.movement.primary.length}}
                {{#each source.system.movement.primary as |movement|}}
                    <div class="movement">
                        <div class="form-group">
                            <label>Type</label>
                            <div class="form-fields">
                                <input type="text" name="system.movement.primary.{{@index}}.type" class="form-control"
                                    data-dtype="String" value={{movement.type}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Value</label>
                            <div class="form-fields">
                                <input type="number" name="system.movement.primary.{{@index}}.value" class="form-control"
                                    data-dtype="Number" value={{movement.value}}>
                            </div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control" data-action="delete" data-field="movement" data-sub-field="primary" data-index="{{@index}}" data-tooltip="Delete Movement"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="movement center">
                    <p><small>No Primary Movement Options. Please create one with the Add button</small></p>
                </div>
            {{/if}}
            <div class="movement-header">
                <h5>Secondary Movement</h5>
                <div class="item-controls">
                    <a class="item-control item-create" data-tooltip="Add Secondary Movement Option" data-field="movement" data-sub-field="secondary" data-action="add">
                        <i class="fas fa-plus-circle" style="margin-right: 3px;"></i>
                        <span class="readable">{{localize "ITEM.AddButton"}}</span>
                    </a>
                </div>
            </div>
            {{#if source.system.movement.secondary.length}}
                {{#each source.system.movement.secondary as |movement|}}
                    <div class="movement">
                        <div class="form-group">
                            <label>Type</label>
                            <div class="form-fields">
                                <input type="text" name="system.movement.secondary.{{@index}}.type" class="form-control"
                                    data-dtype="String" value={{movement.type}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Value</label>
                            <div class="form-fields">
                                <input type="number" name="system.movement.secondary.{{@index}}.value" class="form-control"
                                    data-dtype="Number" value={{movement.value}}>
                            </div>
                        </div>
                        <div class="item-controls">
                            <a class="item-control" data-action="delete" data-field="movement" data-sub-field="secondary" data-index="{{@index}}" data-tooltip="Delete Movement"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="movement center">
                    <p><small>No Secondary Movement Options. Please create one with the Add button</small></p>
                </div>
            {{/if}}
        </fieldset>
                <fieldset>
            <legend>
                Skills
            </legend>
            {{#each source.system.skills as |value skill|}}
                <div class="skill">
                    <div class="form-group">
                        <input type="text" name="system.skills.{{skill}}.name" class="form-control"
                            data-dtype="String" value={{skill}}>
                    </div>
                    <div class="form-group">
                        <label>Value</label>
                        <div class="form-fields">
                            <input type="number" name="system.skills.{{skill}}.value" class="form-control"
                                data-dtype="Number" value={{value}}>
                        </div>
                    </div>
                    <div class="item-controls">
                        <a class="item-control" data-action="delete" data-field="skills" data-index="{{skill}}" data-tooltip="Delete Skill"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
            {{/each}}
            <div class="skill">
                <div class="form-group">
                    <input type="text" name="system.skills.new.name" class="form-control"
                        data-dtype="String" placeholder="New skill name...">
                </div>
                <div class="form-group">
                    <label>Value</label>
                    <div class="form-fields">
                        <input type="number" name="system.skills.new.value" class="form-control"
                            data-dtype="Number" value="0">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Other Info
            </legend>
            <!-- Diet -->
            {{formField fields.diet value=source.system.diet localize=true}}
            <!-- Size -->
            {{formField fields.size.fields.category value=source.system.size.category localize=true}}
            {{formField fields.size.fields.type value=source.system.size.type localize=true}}
            {{formField fields.size.fields.height value=source.system.size.height localize=true disabled=true}}
            {{formField fields.size.fields.weight value=source.system.size.weight localize=true disabled=true}}
            <!-- Gender Ratio -->
            {{formField fields.genderRatio value=source.system.genderRatio localize=true}}
            <!-- Egg Groups -->
            {{formField fields.eggGroups value=source.system.eggGroups localize=true}}
            <!-- Habitats -->
            {{formField fields.habitats value=source.system.habitats localize=true}}
        </fieldset>
        <fieldset>
            <legend>
                Abilities
            </legend>
            <!-- Starting -->
            {{formField fields.abilities.fields.starting value=source.system.abilities.starting localize=true}}
            <!-- Basic -->
            {{formField fields.abilities.fields.basic value=source.system.abilities.basic localize=true}}
            <!-- Advanced -->
            {{formField fields.abilities.fields.advanced value=source.system.abilities.advanced localize=true}}
            <!-- Master -->
            {{formField fields.abilities.fields.master value=source.system.abilities.master localize=true}}
        </fieldset>
        <fieldset class="moves">
            <legend>
                Moves (not editable)
            </legend>
            <fieldset>
                <legend>
                    Level Up Moves
                </legend>
                {{#each source.system.moves.levelUp as |move|}}
                    <div class="move">
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.name}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Level</label>
                            <div class="form-fields">
                                <input type="number" readonly class="form-control"
                                    data-dtype="Number" value={{move.level}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Origin</label>
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.gen}}>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>
                    TM Moves
                </legend>
                {{#each source.system.moves.machine as |move|}}
                    <div class="move">
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.name}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Origin</label>
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.gen}}>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>
                    Tutor Moves
                </legend>
                {{#each source.system.moves.tutor as |move|}}
                    <div class="move">
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.name}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Origin</label>
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.gen}}>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>
                    Egg Moves
                </legend>
                {{#each source.system.moves.egg as |move|}}
                    <div class="move">
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.name}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Origin</label>
                            <div class="form-fields">
                                <input type="text" readonly class="form-control"
                                    data-dtype="String" value={{move.gen}}>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </fieldset>
        </fieldset>
        <fieldset class="evolutions evos" data-path="system.evolutions">
            <legend>
                Evolution Tree
            </legend>
            <div class="evolution no-shadow">
                <header>
                    <div class="icon">
                        {{{iconFromUuid source.system.evolutions.uuid alt=source.system.evolutions.name}}}
                    </div>
                    <div class="name">
                        {{source.system.evolutions.name}} <span>({{formatIndex 0}} Stage) <a data-action="open-sheet" data-uuid="{{source.system.evolutions.uuid}}" data-tooltip="Open {{source.system.evolutions.name}} Sheet"><i class="fas fa-arrow-up-right-from-square"></i></a></span>
                    </div>
                    <div class="item-controls">
                        <!-- Copy & Paste Item Controls with actions [data-action='copy-evolution-tree'] and [data-action='paste-evolution-tree'] -->
                        {{#if copyPresent}}
                            <a class="item-control" data-action="paste-evolution-tree" data-tooltip="Paste Evolution Tree"><i class="fas fa-paste"></i></a>
                        {{/if}}
                        <a class="item-control" data-action="copy-evolution-tree" data-tooltip="Copy Evolution Tree"><i class="fas fa-copy"></i></a>
                    </div>
                </header>
                <fieldset class="evos" data-path="system.evolutions.evolutions">
                    <legend>
                        {{source.system.evolutions.name}}'s {{localize "PTR2E.SpeciesSheet.evolutions.label"}}
                    </legend>
                    {{#each source.system.evolutions.evolutions}}
                        {{> evolution basePath=(concat "system.evolutions.evolutions." @index) stage=1}}
                    {{else}}
                        <small>{{localize "PTR2E.SpeciesSheet.evolutions.missing"}}</small>
                    {{/each}}
                    <div class="dragover-info">
                        <p>Drop to add evolution to {{capitalize source.system.evolutions.name}}</p>
                    </div>
                </fieldset>                
            </div>
            <div class="dragover-info">
                <p>Drop to overwrite the Base Evolution: {{capitalize source.system.evolutions.name}}</p>
            </div>
        </fieldset>
    </div>
</section>

{{#*inline "evolution"}}
    <div class="evolution">
        <header>
            <div class="icon">
                {{{iconFromUuid this.uuid alt=this.name}}}
            </div>
            <div class="name">
                {{this.name}} <span>({{formatIndex stage}} Stage) <a data-action="open-sheet" data-uuid="{{this.uuid}}" data-tooltip="Open {{source.system.evolutions.name}} Sheet"><i class="fas fa-arrow-up-right-from-square"></i></a></span>
            </div>    
            <div class="item-controls">
                <a class="item-control" data-action="delete-evolution" data-field="{{basePath}}" data-index="{{@index}}" data-tooltip="Remove Evolution"><i class="fas fa-trash"></i></a>
            </div>
        </header>
        <div class="form-group hidden">
            <input type="hidden" name="{{basePath}}.name" value="{{this.name}}">
            <input type="hidden" name="{{basePath}}.uuid" value="{{this.uuid}}">
        </div>
        <fieldset class="methods">
            <legend>
                {{localize "PTR2E.SpeciesSheet.evolutions.methods.label"}}
            </legend>
            <div class="method header">
                <div class="form-group">
                    <label style="padding-right: 0.5rem;" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.hint"}}">{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.label"}}</label>
                </div>
                <div class="form-group">
                    <label data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.value.hint"}}">{{localize "PTR2E.SpeciesSheet.evolutions.methods.value.label"}}</label>
                </div>
                <div class="form-group">
                    <label style="padding-right: 0.5rem;" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.operand.hint"}}">{{localize "PTR2E.SpeciesSheet.evolutions.methods.operand.label"}}</label>
                </div>
                <div class="item-controls">
                    <a class="item-control item-create" data-tooltip="Add Method" data-field="{{basePath}}.methods" data-action="add-method">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
            </div>
            {{#each this.methods}}
                <div class="method">
                    <div class="form-group">
                        <div class="form-fields">
                            <select name="{{../basePath}}.methods.{{@index}}.type" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.hint"}}">
                                <option value="level" {{#if (eq this.type "level")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.level.label"}}</option>
                                <option value="item" {{#if (eq this.type "item")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.item.label"}}</option>
                                <option value="move" {{#if (eq this.type "move")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.move.label"}}</option>
                                <option value="gender" {{#if (eq this.type "gender")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.gender.label"}}</option>
                            </select>
                        </div>
                    </div>

                    {{#if (eq this.type "level")}}
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="number" name="{{../basePath}}.methods.{{@index}}.level" class="form-control" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.level.hint"}}"
                                    data-dtype="Number" value="{{this.level}}">
                            </div>
                        </div>
                    {{/if}}

                    {{#if (eq this.type "item")}}
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" name="{{../basePath}}.methods.{{@index}}.item" class="form-control" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.item.hint"}}"
                                    data-dtype="String" value="{{this.item}}">
                            </div>
                        </div>
                    {{/if}}

                    {{#if (eq this.type "move")}}
                        <div class="form-group">
                            <div class="form-fields">
                                <input type="text" name="{{../basePath}}.methods.{{@index}}.move" class="form-control" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.move.hint"}}"
                                    data-dtype="String" value="{{this.move}}">
                            </div>
                        </div>
                    {{/if}}

                    {{#if (eq this.type "gender")}}
                        <div class="form-group">
                            <div class="form-fields">
                                <select name="{{../basePath}}.methods.{{@index}}.gender" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.gender.hint"}}">
                                    <option value="male" {{#if (eq this.gender "male")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.gender.male"}}</option>
                                    <option value="female" {{#if (eq this.gender "female")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.gender.female"}}</option>
                                    <option value="genderless" {{#if (eq this.gender "genderless")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.type.gender.genderless"}}</option>
                                </select>
                            </div> 
                        </div>
                    {{/if}}

                    <div class="form-group">
                        <div class="form-fields">
                            <select name="{{../basePath}}.methods.{{@index}}.operand" data-tooltip="{{localize "PTR2E.SpeciesSheet.evolutions.methods.operand.hint"}}">
                                <option value="and" {{#if (eq this.operand "and")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.operand.and"}}</option>
                                <option value="or" {{#if (eq this.operand "or")}}selected{{/if}}>{{localize "PTR2E.SpeciesSheet.evolutions.methods.operand.or"}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="item-controls">
                        <a class="item-control" data-action="delete-method" data-field="{{../basePath}}.methods" data-index="{{@index}}" data-tooltip="Remove Method"><i class="fas fa-trash" style="width: 14px;"></i></a>
                    </div>
                </div>
            {{else}}
                <small>{{localize "PTR2E.SpeciesSheet.evolutions.methods.missing"}}</small>
            {{/each}}
        </fieldset>
        <fieldset class="evos" data-path="{{concat basePath ".evolutions"}}">
            <legend>
                {{this.name}}'s {{localize "PTR2E.SpeciesSheet.evolutions.label"}}
            </legend>
            {{#each this.evolutions}}
                {{> evolution basePath=(concat ../basePath (concat ".evolutions." @index)) stage=(add ../stage 1)}}
            {{else}}
                <small>{{localize "PTR2E.SpeciesSheet.evolutions.missing"}}</small>
            {{/each}}
            <div class="dragover-info">
                <p>Drop to add evolution to {{capitalize this.name}}</p>
            </div>
        </fieldset>
    </div>
{{/inline}}