<section class="{{#if editMode}}editing{{/if}}">
    {{#with perk}}
        {{#if document}}
            <header class="perk-header">
                <h2>Selected Perk Details</h2>
            </header>
            <figure>
                <header class="header">
                    <h2>{{document.name}}</h2>
                </header>
                {{#if traits}}
                <header class="traits">
                    <input type="text" class="traits ptr2e-tagify" value="{{json traits}}" data-dType="JSON" readonly/>
                </header>
                {{/if}}
                {{> perk-body}}
                {{#if actions}}
                  <h2 class="m-0 noborder center-text">Actions</h2>
                {{/if}}
                {{#each actions}}
                  {{> action-embed action=action}}
                {{/each}}
            </figure>
            <footer> {{log this}}
              {{#if state.evolution}}
                <button class="purchase {{#unless state.purchasable}}unavailable{{/unless}}" data-action="evolve" {{#unless state.purchasable}}disabled{{/unless}}>
                  <i class="fas fa-sack-dollar"></i> {{{cost.evolution}}}
                </button>
              {{else}}
                {{#if state.available}}
                  <button class="purchase {{#unless state.purchasable}}unavailable{{/unless}}" data-action="purchase" {{#unless state.purchasable}}disabled{{/unless}}>
                    <i class="fas fa-sack-dollar"></i> {{{cost.purchase}}}
                  </button>
                {{/if}}
                {{#if state.refundable}}
                  <button class="refund" data-action="refund">
                    <i class="fas fa-sack-dollar"></i> {{{cost.refund}}}
                  </button>
                {{/if}}
              {{/if}}
            </footer>
        {{/if}}
    {{/with}}
</section>